<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body>
    <h1>Gestión de Inventario y Presupuesto Expresión MTN</h1>
    </hr>
    <ul>
        <li>
            <a href="{% url 'index' %}">Inicio</a>
        </li>
        <li>
            <a href="{% url 'inventario' %}">Inventario</a>
        </li>
        <li>
            <a href="{% url 'lista_compras' %}">Compras</a>
        </li>
        <li>
            <a href="{% url 'proyectos_inversion' %}">Inversion</a>
        </li>
    </ul>
    <hr>
    </body>
    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>

</body>

</html>