<!--
    - Para los estilos creamos una carpeta llamada static dentro de la app
    - y dentro de ésta otra carpeta llamada css y otra para las imagenes
    - dentro de la carpeta css crearemos nuestro styles.css
    - en nuestro layout debemos cargar la carpeta static
    y al hacer el link a nuestro css debemosdarselo a través de llaves y porcentaje
-->
{% load static %}

<!DOCTYPE html>
<html lang="es">

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<head>
    <meta charset="utf-8" />
    <title>
        {% block title %}
        <!--Aqui se cargará el block title definido en cada template-->
        {% endblock %}
        | Jota Contreras
    </title>
</head>

<body>
    <header>
        <div id="logotipo">
            <img src="{% static 'img/logo.png' %}" alt="">
            <h1>Jota Contreras</h1>
        </div>
    </header>

    <nav>
        <ul>
            <li>
                <a href="{% url 'index_2' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'saludo_2' %}">Saludo</a>
            </li>
            <li>
                <a href="{% url 'mis_articulos' %}">Blog</a>
            </li>
            <li>
                <a href="{% url 'nuevo_articulo' %}">Nuevo Post</a>
            </li>
            <li>
                <a href="{% url 'nuevo_objeto_articulo' %}">Nuevo Post 2</a>
            </li>
            <li>
                <a href="{% url 'pagina_2' %}">Pagina</a>
            </li>
            <li>
                <a href="{% url 'years_2' %}">Contador</a>
            </li>
            <li>
                <a href="{% url 'agenda' 'Manú' 'Contreras' %}">Agenda</a>
            </li>
        </ul>
    </nav>

    <!-- Barra 3D -->
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <div class="box">
            {% block content%}

            <!-- Aqui se cargará el block content definido en cada template -->
            <!-- y también se puede heredar este contenido: -->
            <h3>Contenido heredado desde layout :)</h3>
            {% endblock %}
        </div>
    </div>

    <footer>Practicando con Python &copy; Jota Contreras - {% now "m/y" %}</footer>
</body>

</html>