{% extends 'layout.html' %}

{% block title %}
    Nuevo Articulo | Formularios en Django
{% endblock %}

{% block content %}
    <h1 class="title">Nuevo Objeto Articulo | Formularios en Django</h1>

    <!--
        La manera normal de llamar a la url:
        <form action="/guardar-articulo"></form>
    -->
    {% if form.errors  %}
        <strong class="rojo">
            Hay errores en el formulario
        </strong>
    {% endif %}
    <form action="" method="POST">

        {% csrf_token %}
        {{ form.as_p }} 
        <!-- el .as_p inserta el formulario en una etiqueta de párrafo-->
        <!-- el .as_ul inserta el formulario en una etiqueta de lista-->

        <input type="submit" value="Guardar" />
    </form>
{% endblock %}