{% extends 'layout.html' %}

{% block title %}
    Contador
{% endblock %}

{% block content %}
    <!-- con include insertamos codigo html desde otro archivo -->
    {% include 'fecha_actual.html' %}

    <h1 class="title">Indice de años</h1>
    <p>Años hasta el 2050:</p>
    <p>
        <ul>
            <!-- ejecutamos la instrucción entre llaves y porcentaje: -->
            {% for year in year_list %}
                <!-- para el sgte if no podré usar el signo porcentaje, usaremos un filtro: -->
                {% if year|divisibleby:2 == True %}
                    <!-- recogemos las variables entre llaves dobles -->
                    <li> {{ year }}</li>
                {% endif %}
            <!-- cerramos el for -->
            {% endfor %}
        </ul>    
    </p
{% endblock %}